

<md-progress-spinner
*ngIf="progress"
class="cat_progress"
[color]="color"
[mode]="mode"
>
</md-progress-spinner>

<ul class="side-menu" *ngIf="!progress">
    <li  class="mcol_1" *ngFor="let cat of categories">
        
        <div>
            <h3>{{cat.name}}</h3>
            <hr class="underline"/>            
            <ul class="cat-menu-mega nav navbar-nav"  *ngIf="cat.sub else subElseBlock">
                    <li *ngFor="let subcat of cat.sub">
                        <a href="#">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>{{ subcat.name }}
                        </a>
                    </li>    
            </ul>

            <ng-template #subElseBlock>
            <ul class="cat-menu-mega nav navbar-nav"><li><a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i>{{cat.name}}</a></li></ul>
            </ng-template>
        </div>      
    </li>
</ul>


<!--
     <db-collapsible *ngIf="cat.sub else subElseBlock" [title]="cat.name">
                <ul class="cat-menu">
                        <li *ngFor="let subcat of cat.sub">
                            <a href="#">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>                                    
                                {{ subcat.name }}
                            </a>
                        </li>    
                    </ul>
        </db-collapsible>

        <ng-template #subElseBlock>
            <a href="#">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                {{ cat.name }}
             </a>
        </ng-template>

    -->
