.cat_progress{
    
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 30px;
    height: 30px;
  }



  ul.side-menu > li{
     list-style-type:none;
     
  }

  ul.side-menu > li > div > h3{
    font-size: 12px;
    font-weight: 600;
    color: #999;
    text-transform: uppercase;
 }

 ul.cat-menu-mega{
     text-align: left;
 }

 ul.cat-menu-mega > li {
     list-style-type: none;
     display:block;
     width: 100%;
     margin: 0 !important;
     position: relative;
     left:0;
 }

 ul.cat-menu-mega > li > a > i {
     font-size: 10px;
     margin-right: 10px;
 }

 .mcol_1,
 .mcol_2,
 .col_3,
 .mcol_4,
 .mcol_5 {
     display:block;
     float:left;
     margin-left: 10px;
     margin-right: 10px;
     margin-top: 10px;
     margin-bottom: 10px;
     height: 100%;
 }
 .mcol_1 {width:200px;}
 .mcol_2 {width:270px;}
 .mcol_3 {width:410px;}
 .mcol_4 {width:550px;}
 .mcol_5 {width:690px;}
 
 
 
  