
.carousel-container{
  height: 350px;
  max-height: 350px;
  background: #ffffff;
  box-shadow: 1px 2px 4px rgba(255,255,255,0.15);
  margin: 0 auto;
  margin-top: 10px;
}

slide{
  height: 350px;
  max-height:350px;
  overflow: hidden; 
  background: #000000; 
  z-index: 0;
}
slide img {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 0;
}

.slide_progress{
  
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 30px;
  height: 30px;
}




@media(max-width: 767px) {
  .carousel-container{
    height: 200px;
    max-height:200px;
  }

  slide{
    height: 200px;
    max-height:200px; 
  }

  
}