<footer class="footer-bs">
        <div class="row">
        	<div class="col-md-3 footer-brand animated fadeInLeft">
            	<h2 class="footer-logo">Deals बजार</h2>
                <p>Best Online Shopping in Nepal</p>

                
                <p>© 2017 Deals Baazar, All rights reserved</p>
            </div>
        	<div class="col-md-3 footer-nav animated fadeInUp">

                    <div class="row"><div class="col-sm-12"><h4>Download Apps</h4></div></div>
                    <div class="row">
                            
                        <div class="col-sm-6">
                            <!-- Download app Google Play -->
                            <a class="google_play_ft" href='https://play.google.com/store/apps/details?id=apps.webbisswift.dealsbazaar&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                                <img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
                            </a>
                        </div>
      
                        <div class="col-sm-6">
                                
                            <!-- Download app App Store -->
                            <a class="app_store_ft" href='https://play.google.com/store/apps/details?id=apps.webbisswift.dealsbazaar&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                                <img alt='Download from App Store' src='../../../assets/images/appstore_download.svg'/>
                            </a>
                        </div>                        
                    
                    </div>
                    <br>
                    <div class="row"><div class="col-sm-12"><h4>We Support</h4></div></div>
                    
                    <ul class="store_logos">
                     <li><a href="https://www.daraz.com.np"><img class="store_logo" src='../../../assets/images/stores/daraz.png'/></a></li>                            
                    <li><a href="https://www.sastodeal.com"><img class="store_logo" src='../../../assets/images/stores/sastodeal_logo.png'/></a></li>
                    <li><a href="https://www.nepbay.com"><img class="store_logo" src='../../../assets/images/stores/nepbay_log.svg'/></a></li>
                    <li><a href="https://www.olizstore.com"><img class="store_logo" src='../../../assets/images/stores/oliz_logo.png'/></a></li>
                    <li><a href="https://www.muncha.com.np"><img class="store_logo" src='../../../assets/images/stores/muncha_logo.png'/></a></li>
                    </ul>
                    
                    
                    
    
            </div>
        	<div class="col-md-3 footer-social animated fadeInDown">

                <div class="row"><div class="col-sm-12">
            	<h4>Follow Us</h4>
            	<div class="fb-page" 
                data-href="https://www.facebook.com/pg/dealsbazaarnepal"
                data-hide-cover="false"
                data-show-facepile="true"></div></div></div>
                
                  
              
            </div>

            <div class="col-md-3 footer-ns animated fadeInRight">
                    <h4>DISCLAIMER</h4>
                    <p> 'Deals Baazar' is an utility application to help you look for products and offers across the web within the region of Nepal. It does not in any way sell or distribute any of the products that are displayed here.</p>
                    <p>The availability and validity of the products and offers shown in the app are not guaranteed by the app and depends solely on the store website that it belongs to.</p>
                             
                    <p>We do not take responsibility of any type of deal, sale, interchange between the user and the third-party stores.
                             All the images / logo shown in the products belong to the respective websites and we do not intend to violate any copyright.</p>
                    
            </div>
        </div>
    </footer>

  