.main-content{
    margin-top: 10px;
    background: #ededed;
    margin-left: 20px;
    margin-right: 20px;
}
 

.ad{
    width: auto;
}

.leaderboard{
    margin-top:20px;
    margin-left: 20px;
    margin-right: 20px;
}

